h1{
  color:Purple;
    font-style: italic;
   font-size: 150%;
}
Body{
  background-color:Grey;

}
img{
  height:2000px;
   border: 4px dotted blue;
  

}
body:hover{
  background-color:green;
}

  font-style: italic;
